@keyframes type {
    from {
        box-shadow: inset -3px 0px 0px #dd1515;
    }
    to {
        box-shadow: inset -3px 0px 0px transparent;
    }
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    color: #000000;
    top: 69%;
    left: 36%;
    font-size: 25px;
    font-weight: 800;
    transform: translate(-50%, -50%);
    opacity: 33;
}

.h1:hover {
    opacity: 1;
    cursor: pointer;
    color: #c92929fa
}

p {
    opacity: 1;
    cursor: pointer;
    color: 
    #fffffffa
}

@media screen and (max-width: 760px) {
    .text {
        font-size: 30px;
    }
    .wrapper ul li a {
        font-size: 35px;
    }
    .wrapper ul li {
        margin: 5px 0;
    }
}

#main {
    display: table;
    width: 100%;
    height: 100vh;
    text-align: center;
}

.fof {
    display: table-cell;
    vertical-align: middle;
}

.fof p {
    font-size: 25px;
    display: inline-block;
    padding-right: 8px;
    animation: type .8s alternate infinite;
}
