h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    flex-wrap: nowrap;
    position: absolute;
    color: #fff;
    animation:transitionin 4.5s;
    top: 69%;
    left: 35%;
    font-size: 55px;
    font-weight: 700;
    box-decoration-break: clone;
    transform: translate(-50%,-50%);
    -webkit-transition: color 0.65 ease-in;
    -o-transition: color 0.65s ease-in;
    transition: color 0.65s ease-in;
    
  }



  @media screen and (max-width: 690px) 
  
  {
  
    h1 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-style: italic;
        flex-wrap: nowrap;
        position: absolute;
        color: #ffffff;
        top: 69%;
        left: 36%;
        font-size: 30px;
        font-weight: 400;
        box-decoration-break: clone;
        -webkit-transition: color 0.65 ease-in;
        -o-transition: color 0.65s ease-in;
        transition: color 0.65s ease-in;
        
        
      }


}
